body {
    background: url('../img/estudiantefondo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Aileron', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.custom-container-bg {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #555; 
}


.custom-container-bg p,
.custom-container-bg h5 {
    margin: 0; 
    padding: 5px 0; 
}


.custom-container-bg a {
    color: #007bff; 
    text-decoration: underline; 
}
.btn-regresar {
    margin-top: 10px; 
}

.btn-matricular {
    margin-left: 10px; 
}

.btn-regresar:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}