body {
    background: url('../img/unifondo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Aileron', sans-serif;
}

.navbar {
    background-color: #081d3c;
}

.navbar-brand img {
    max-height: 40px;
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav {
    margin-left: auto;
}


.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ffd700; 
}

.container {
    padding: 50px;
    text-align: center;
    color: #fff;
}

.card {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 20px;
}

.card-title {
    color: #fff;
}

#scroll-section {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 50px; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); 
}

#scroll-image {
    max-width: 100%; 
}

.custom-highlight {
    text-shadow: -0.03px -0.03px 0 #fff, 0.03px -0.03px 0 #fff, -0.03px 0.03px 0 #fff, 0.03px 0.03px 0 #fff;
}